@model ServerFileRepository.ViewModels.FileSystemViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div>
    <table>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@item.Name</td>
            @if (item is File)
            {
                <td>@Html.ActionLink("Скачать", "DownloadFile", new { fileName = item.Name })</td>

                <td>@Html.ActionLink("Удалить", "Delete", new { fileName = item.Name })</td>

            }
            else
            {
                <td>@Html.ActionLink("Открыть", "OpenDirectory", new { name = item.Name })</td>
                <td>@Html.ActionLink("Удалить", "Delete", new { fileName = item.Name })</td>
            }
        </tr>
        }
    </table>
</div>
