@model ServerFileRepository.ViewModels.FileSystemViewModel

@{
    ViewData["Title"] = "ServerFileRepository";
}
<fieldset>
    <legend>Добавление</legend>
    @using (Html.BeginForm("AddDirectory", "FileSystem", FormMethod.Post))
    {
        <input type="text" name="name" />
        <input type="submit" value="Добавить папку" />
    }
    @using (Html.BeginForm("UploadFile", "FileSystem", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />        
        <input type="submit" value="Загрузить" />
    }
</fieldset>
<div>
    <table>
        <tr>
            <th></th>
            <th>Имя</th>
            <th>Время загрузки</th>
            <th></th>
        </tr>

        @foreach (var item in Model.Items)
        {
            <tr>
                @if (item is Directory)
                {
                    <td><img src="~/img/folder.png" alt="Папка" /></td>
                }
                else
                {
                    <td></td>
                }

                <td>@item.Name</td> 
                @if (item is File)
                {
                    <td>@item.CreateTime</td>
                    <td class="control-cell">
                        @Html.ActionLink("Скачать", "DownloadFile", new { name = item.Name })
                        @Html.ActionLink("Удалить", "DeleteFile", new { name = item.Name })
                    </td>
                }
                @if (item is BackFolder)
                {
                    <td></td>
                    <td class="control-cell">@Html.ActionLink("Назад", "GoBack")</td>                    
                }
                @if (item is Directory)
                {
                    <td></td>
                    <td class="control-cell">
                        @Html.ActionLink("Открыть", "OpenDirectory", new { name = item.Name })
                        @Html.ActionLink("Удалить", "DeleteDirectory", new { name = item.Name })
                    </td>
                }
            </tr>
        }
    </table>
</div>
